.header {
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ada2a2;
}

.header h1 {
    font-size: 32px;
    font-weight: 400;
    color: #222;
    margin-bottom: 8px;
    letter-spacing: -0.5px;
}

.header p {
    font-size: 15px;
    color: #777;
    font-weight: 400;
}